In [1]:
class Vehicle:
  def __init__(self, vehicle_id, brand, rent_per_day):
    self.vehicle_id = vehicle_id
    self.brand = brand
    self.rent_per_day = rent_per_day

  def display_details(self):
    print(f"Vehicle ({self.vehicle_id})")
    print(f"Brand: {self.brand}")
    print(f"Daily rent: Rs. {self.rent_per_day}")

  def calculate_rent(self, days):
    return days * self.rent_per_day

v1 = Vehicle("V1", "Toyota Corolla", 7000)
v1.display_details()
print("Total rent: RS.", v1.calculate_rent(7))

print()

v2 = Vehicle("V2", "Honda Civic", 9000)
v2.display_details()
print("Total rent:", v1.calculate_rent(3))

Vehicle (V1)
Brand: Toyota Corolla
Daily rent: Rs. 7000
Total rent: RS. 49000

Vehicle (V2)
Brand: Honda Civic
Daily rent: Rs. 9000
Total rent: 21000

In [6]:
class Employee:
  def __init__(self, name, emp_id):
    self.name = name
    self.emp_id = emp_id

class FullTimeEmployee(Employee):
  def __init__(self, name, emp_id, monthly_salary):
    super().__init__(name, emp_id)
    self.monthly_salary = monthly_salary

  def calculate_salary(self):
    return self.monthly_salary

class PartTimeEmployee(Employee):
  def __init__(self, name, emp_id, hours_worked, hourly_rate):
    super().__init__(name, emp_id)
    self.hours_worked = hours_worked
    self.hourly_rate = hourly_rate

  def calculate_salary(self):
    return self.hours_worked * self.hourly_rate

E1 = FullTimeEmployee("Ahmed", 709, 270000)
E2 = PartTimeEmployee("Usman", 759, 70, 600)

print("Employee name:",E1.name,"\nSalary:" ,E1.calculate_salary())
print("Employee name:",E2.name,"\nSalary:" ,E2.calculate_salary())

Employee name: Ahmed
Salary: 270000
Employee name: Usman
Salary: 42000

In [8]:
class Student:
    def __init__(self, name, student_id, marks = 0):
        self.name = name
        self.student_id = student_id
        self.__marks = marks

    def set_marks(self, marks):
        if marks < 0 or marks > 100:
            print(f"Invalid marks")
        else:
            self.__marks = marks

    def get_marks(self):
        return self.__marks

    def calculate_grade(self):
        if self.__marks >= 90:
            return "A+"
        elif self.__marks >= 80:
            return "A"
        elif self.__marks >= 70:
            return "B"
        elif self.__marks >= 60:
            return "C"
        elif self.__marks >= 50:
            return "D"
        else:
            return "Fail"

    def display_details(self):
        print(f"Student Name: {self.name}")
        print(f"Student ID: {self.student_id}")
        print(f"Marks: {self.__marks}/100")
        print(f"Grade: {self.calculate_grade()}")


s1 = Student("Ahmed", "24K-0709", 90)
s2 = Student("Fadil Faisal", "24K-0635", 77)
s3 = Student("Zain ul Abideen", "24K-0818", 72)

print(f"Student 1:")
s1.display_details()

print(f"\nStudent 2:")
s2.display_details()

print(f"\nStudent 3:")
s3.display_details()

Student 1:
Student Name: Ahmed
Student ID: 24K-0709
Marks: 90/100
Grade: A+

Student 2:
Student Name: Fadil Faisal
Student ID: 24K-0635
Marks: 77/100
Grade: B

Student 3:
Student Name: Zain ul Abideen
Student ID: 24K-0818
Marks: 72/100
Grade: B